.pie-chart-container {
    margin-top: 30px;
    text-align: center;
    width: 50%; /* Set to 50% of parent width */
    height: 300px; /* Set a fixed height */
    margin-left: auto;
    margin-right: auto; /* Center the chart horizontally */
  }
  
  .pie-chart-container h3 {
    margin-bottom: 15px;
  }
  